# 
# Use the template found in the podverse-ops repo:
# https://github.com/podverse/podverse-ops/blob/master/config/podverse-api-local.env.example
#  
# NOTE:
# If you are running podverse-api with `npm run dev` instead of in a docker container,
# you will need to change all of the host domains from docker service names to localhost.
# ex. podverse_db = localhost, podverse_manticore = localhost
#
