#####
##### podverse-api
#####

# NOTE:
# Use lowercase true to enable properties.
# Leave value blank or comment out to disable properties.

#####
##### App / General
#####

NODE_ENV=development
LOG_LEVEL=info

API_PORT=1234
API_PREFIX=/api
API_VERSION=/v2
API_ALLOWED_CORS_ORIGINS=http://localhost:3000,https://api.podverse.fm,https://podverse.fm

AUTH_JWT_SECRET=your-secret-whatever

USER_AGENT=Podverse/API-2

# Use the public facing domain, not the internal docker network ip address.
COOKIE_DOMAIN=localhost # prefix with a dot for subdomains, e.g. .podverse.fm or .beta.podverse.fm
COOKIE_IS_SECURE=

#####
##### Postgres
#####

# LOCAL
DB_HOST=localhost
DB_PORT=5111
DB_READ_USERNAME=
DB_READ_PASSWORD=
DB_READ_WRITE_USERNAME=
DB_READ_WRITE_PASSWORD=
DB_DATABASE=postgres
DB_SSL_CONNECTION=

#####
##### Auth/Membership
#####

EMAIL_VERIFICATION_TOKEN_EXPIRATION=31540000
EMAIL_CHANGE_VERIFICATION_TOKEN_EXPIRATION=31540000
RESET_PASSWORD_TOKEN_EXPIRATION=86400
FREE_TRIAL_EXPIRATION= 2592000
PREMIUM_MEMBERSHIP_EXPIRATION=31540000
PREMIUM_MEMBERSHIP_COST=5
RESET_PASSWORD_PAGE_PATH=/reset-password?token=
VERIFY_EMAIL_PAGE_PATH=/verify-email?token=
EMAIL_CHANGE_VERIFICATION_PAGE_PATH=/verify-email-change?token=

#####
##### Website related
#####
### NOTE: these are for the *public facing* IP addresses,
### not the internal Docker service network or private IP addresses.

WEBSITE_PROTOCOL=
WEBSITE_DOMAIN=

#####
##### Email template
#####
### These are used in the templates of the auth related emails we send.

EMAIL_BRAND_COLOR="#2968B1"
EMAIL_HEADER_IMAGE_URL=
LEGAL_NAME=
LEGAL_ADDRESS=
SOCIAL_FACEBOOK_IMAGE_URL=
SOCIAL_FACEBOOK_PAGE_URL=
SOCIAL_GITHUB_IMAGE_URL=
SOCIAL_GITHUB_PAGE_URL=
SOCIAL_TWITTER_IMAGE_URL=
SOCIAL_TWITTER_PAGE_URL=

#####
##### Mailer
#####

MAILER_DISABLED=1
MAILER_HOST=
MAILER_PORT=
MAILER_SERVICE=
MAILER_USERNAME=
MAILER_PASSWORD=
MAILER_FROM=

#####
##### Podcast Index
#####

PODCAST_INDEX_BASE_URL=
PODCAST_INDEX_AUTH_KEY=
PODCAST_INDEX_SECRET_KEY=

#####
##### RabbitMQ
#####

RABBITMQ_HOST=localhost # change to service name in production
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=user
RABBITMQ_PASSWORD=mysecretpw
RABBITMQ_VHOST=/

#####
##### QA
#####
# DOTENVX_LOG=false # set to false for qa tests
