Get your BitPay API credentials.

For testing, setup using the https://test.bitpay.com domain.

For production, setup using the https://bitpay.com domain.

Follow the pairing steps in the node-bitpay-client README https://github.com/bitpay/node-bitpay-client.

(You will need to npm install bitpay-rest on whatever machine you want to deploy to in order to run the pairing commands.)
